*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
header{
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Mainheader.jpg);
    background-size: cover;
    max-width:100%;

}
header a{
    color:white;
    font-size:24px;
    text-decoration:none;
    margin:0px 3% ;
    padding:2% 1%;
    
}
header a:focus{
    background-color: white;
    color:blue;
    border-radius:15px;

}
header h1{
    font-size:3em;
    color:white;
    font-weight: 300;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin:0px;
}
.Treleo{
    width:30%;
    text-align: center;

    
}
.Treleo h1{
    margin-top:5px;
}
.Blog{
    width: 60%;
    text-align: right;
}
.main{
    display: flex;
    align-items: baseline;
    

}
.mainPart{
    width:100%;
    height: 550px;
    text-align: center;
    color: white;
}
.mainPart h1{
    margin-top:15%;
    font-size: 4em;
    margin-bottom:5px;
}
.mainPart p{
    margin-top:5%;
    font-size: x-large;
}
.part{
    position: absolute;
    top:780px;
    left:10%;
    display: flex;
    background-color:white;
    width:80%;
    border-radius:0px 50px 50px 50px;
    
}
.left{
 position: relative;
 bottom:89px;
 width:25%;
 height:250px;
 background-color: white;
 border-radius:20px 20px 0 0;
}
.right{
width:55%;
height:200px;

}
.break{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; 
}

.part2{
    position: relative;
    display: flex;
    left: 11%;
    width:80%;
    border-radius:0px 50px 50px 50px;
    height:220px;
    align-items: center;

}
.left-side{
    width:36%;
    height: 65%;
    
    padding:14px 20px;
    margin: 0 10px 0 20px;
    border-radius:20px;
    border:2px solid rgba(128, 128, 128, 0.517);
    display: flex;
}   
.right-side{
    width:38%;
    height:65%;
   
    padding:10px 25px;
    margin:0 10px;
    border-radius:20px;
    border:2px solid rgba(128, 128, 128, 0.517);
    display: flex;
}
.img img{   
    height:150px;
    width: 150px;
    opacity:.8;
    


}
.img{
    margin: 0 15px;
}
.top{
width:35%;
height:100%;
padding-top:15px;

}
.bottom{
    width:35%;
    height:100%;
    padding-top:15px;
    
}
.bottom h3,.top h3{
color: rgb(121, 119, 119);
font-weight: 300;
}



.bottom h2,.top h2{
    color: black;
    font-weight: 540;
    }



.middle{
    width:30%;
    align-items: center;


}
.middle div img {
    zoom: 70%;
    margin:15%;
    filter: brightness(0.9);
}
#xl{
    margin-top:7px;
}
.h1{
        font-size:50px;
        text-align: center;
    
}
.blox div, a{
    width:30%;
    padding:5px 8px;
    margin:auto 5px;
    text-decoration: none;
    color: rgb(121, 119, 119);
    text-align: center;
    font-size:18px;
    font-weight: 500;


}

.blox a:focus{
    background-color: #2379fb;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    
}
.h1{
    margin-top: 150px;
    font-size: 45px;
}
.blox {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:25%;
    height:60px;
    border-radius: 10px;
    background-color: white;
    margin-top: 70px;
}
.ax{
    display: flex;
    
}
.ax div{
    position: relative;
    width: 34%;
    height: 450px;
    background-color: white;
    margin:3%;
    border-radius:50px;
    color: black;
}
.no{
    position: relative;
    left:4%;
}
.ax img{
    padding-top:15px;
    width:95%;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    padding:5px 0px;
    margin-left: 15px;
    margin-top:10px;
}
.ax p{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding-left:30px;

}
.le{
    width:40%;
    height:110vh;
    float: left;
    background-image: url(Images/boy.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    border-radius:40px;

}
.ri{
    width:50%;
    height:105vh;
    float: right;
}
.new{
    width: 82%;
    align-content: center;
    height:115vh;
    margin-left:10%;
    
}
.ri h1{
    padding-top:20%;
    font-size:42px;
}
.ri br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; /* change this to whatever height you want it */
}
.button{
    margin-top: 10%;
    height:50px ;
    margin-left: 5px;
    

}
.button a{
    
    padding:22px 30px;
    text-align: center;
    background-color: #2379fb;
    border-radius: 10px;
    color: white;
    font-size:22px;
    font-weight: 300;

}
.notes,.silver{
    color: rgb(131, 128, 128);
    
    
    margin-top:30px;
}
.notes h3{
    font-weight: 100;
    font-size: 22px;
    line-height: 35px;  
}
.blox.xd a:focus,.blue{
    background-color: white;
    color: #2379fb;
    
}
.blox.xd{
    background-color:whitesmoke;
}
.block-2{
    display: flex;
    width: 100%;
    padding:80px;
   
}
.block-2x{
    width:25vw;
    height:300px;
    border-radius:30px;
    background-color: white;
    margin:10px;
}
.block-2x h3{
    margin-left:10%;
    margin-top:15px;
    font-weight: 550;
}
.block-2 p{
    margin-left: 14%;
    font-size: 15px;
    color:rgb(151, 148, 148) ;
}
.block-2x img{
    margin-top:2%;
}


.bottom-left,.bottom-right{
    margin:7px;
    border-radius: 30px;
    background-color: white;
    width:40vw;
    height:65vh;
    float: left;
    text-align: center;
    padding-top:7%;
    padding-left:4%;
    padding-right: 4%;
    background-image: url(Images/2.png);
    background-size: cover;
    
}
.bottom-x{
    padding:7%;
}
.bottom-left h3,.bottom-right h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
.bottom-x img{
    width:120px;
    height:80px;
    zoom: 120%;
    margin-top: 0px;
    /* border-radius:30%; */
    
}
.button-x{
    display: contents;
   
    width:50px;
    height:50px;
    
    
    
    

}
.button-x h1{
    display: inline-flex;
    font-size: 26px;
    padding:2px 10px;
    color: #2379fb;
    border: 2px solid #2379fb;
    border-radius:15px;
    
   

}
.ue{
    margin-top: 400px;
    margin-left:43vw;
   
    
}
.mini{
    width: 80vw;
    margin:30vh auto;
    background-image: url(Images/new.png);
    height:70vh;
    background-size: cover;
    background-position: center;
    border-radius: 80px;
}
.mini h1{
    padding: 80px 18%;
    font-size: 42px;
    color: white;
    text-align: center;
    line-height: 60px;
}
.mini a{
    
    position: relative;

    left:40%;
    padding: 25px 50px;
    color:#2379fb;
    background-color: white;
    border-radius: 30px;
    font-size: 22px !important;
}

.ui p{
    text-align: center;
    font-size: 25px;
    font-weight:300;
    padding-left: 30px;
    display: block;
}

.uo{
    float: left;
    margin-left:8%;
    font-size:30px;
    display: block;

}
.uo p{
    color:rgb(102, 96, 96);
    font-weight:400;
    font-size: .7em;
    padding-left:30px;
}
.ui p{
    display: inline;
    font-size: 25px;

    font-weight: 300;
}
.ui{
    float:right;color: black;margin-right:120px;
}
.d {
    zoom: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
}
footer img {
    zoom: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
}
footer h2 {
    font-size: 3.2em;
    font-weight: 300;
    text-align: center;
}
footer h1 {
    color: rgb(61, 61, 208);
    font-size: 9em;
    text-align: center;
    margin-bottom: 300px;
}
.le div{
    display: flex;
    flex-direction: column;
    width: 12vw;
    flex-wrap: wrap;
    height:15vh;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    justify-content: center;
}
.le h1{
    font-family: 'Courier New', Courier, monospace;
    color: #2379fb;
    font-size: 35px;
    font-weight: bold;
}
.el-1{
    position: relative;
    top: 10%;
    left:80%;
}
.el-2{
    position: relative;
    top: 30%;
    left:-20%;
}
.el-3{
    position: relative;
    top:40%;
    left: 80%;
}
.le p{
    font-size: 22px;
    font-weight:100;
}
#iva::after{
    content: url(Images/au.png);
    padding:10px;
    


}
#io::after{
    content: url(Images/au\ 2.png);
    padding:10px;

}

.block-2x p:before{
    content: url('Images/placeholder.png');
   
}
.left p{
    display: inline;
    position: relative;
    top: 11%;
    padding: 22px 10%;
    border-radius:30px;
    
}
/* .img{
    border-bottom-left-radius:30% ;
    border-bottom-right-radius:30% ;
    border-top-left-radius:30% ;
    border-top-right-radius:30% ;
    width:100px;
    height:100px ;
    overflow: hidden;

} */
/* .left p:focus{
    background-color: rgb(216, 231, 253);

} */
#writed{
    background-color: rgb(216, 231, 253);
}
#write::before{
content: url(Images/home.png);
padding-right:5px;
}
#writed::before{
    content: url(Images/air.png);
}
#writed,#write{
    font-size: 18px;
}
/* 
@media screen and (max-width:800px) {
    header h1 {
        font-size: 2em;
        color: white;
        font-weight: 300;
    }
    header a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        margin: 0px 3%;
        padding: 2% 1%;
    }
    .mainPart h1 {
        margin-top: 15%;
        font-size: 2.66em;
        margin-bottom: 5px;
    }
    .mainPart p {
        margin-top: 5%;
        font-size: 10.6px;
    }
    .mainPart{
        width:100%;
        height: 100vh;
        text-align: center;
        color: white;
    }

    
}
@media screen and (max-width:600px){

    header h1 {
        font-size: 1.8em;
        color: white;
        font-weight: 300;
    }
    header a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        margin: 0px 3%;
        padding: 2% 1%;
    }
    .mainPart h1 {
        margin-top: 15%;
        font-size: 2.4em;
        margin-bottom: 5px;
    }
    .mainPart p {
        margin-top: 5%;
        font-size: 10.6px;
    }
    .mainPart{
        width:100%;
        height: 100vh;
        text-align: center;
        color: white;
    }
} */